<h1> Business Understanding </h1>

<h2> Latar Belakang </h2>

Warmindo, kependekan dari Warung Makan Indomie, adalah salah satu jenis usaha kuliner yang sangat populer di Indonesia. Warung ini menawarkan berbagai macam produk berbasis mi instan dan menu sederhana lainnya yang digemari oleh berbagai kalangan. Untuk memahami dan mengoptimalkan operasional bisnis, penting bagi Warmindo untuk menganalisis data transaksi yang terjadi di warung mereka.

<h3> Tujuan Analisis </h3>

Analisis data transaksi dari dataset data_warmindo.csv memiliki beberapa tujuan utama:

1. Mengidentifikasi Pola Pembelian Pelanggan
    - Menganalisis kapan (tanggal dan waktu) transaksi terjadi untuk mengetahui jam sibuk dan periode waktu dengan penjualan tertinggi.
    - Melihat produk apa yang paling sering dibeli dan bagaimana permintaan produk berubah dari waktu ke waktu.
    - Siapa pelanggan setia dan bagaimana kita bisa meningkatkan loyalitas mereka?
    - Bagaimana efektivitas promosi dan diskon?

2. Segmentasi Pelanggan
    - Mengelompokkan pelanggan berdasarkan pola pembelian mereka, seperti frekuensi pembelian, jenis produk yang dibeli, dan nilai penjualan.
    - Mengetahui siapa pelanggan setia dan pelanggan yang jarang berbelanja.

3. Optimasi Stok dan Inventaris
    - Menggunakan data penjualan untuk memperkirakan kebutuhan stok produk.
    - Mengurangi risiko kekurangan stok atau overstocking yang dapat mengurangi profitabilitas.

4. Evaluasi Promosi dan Diskon
    - Menganalisis efektivitas berbagai jenis promosi dan diskon yang diberikan kepada pelanggan.
    - Mengidentifikasi metode pembayaran mana yang paling sering digunakan oleh pelanggan dan apakah ada pengaruhnya terhadap nilai penjualan.

<h3> Hasil yang Diharapkan </h3>

Dengan melakukan analisis mendalam terhadap data ini, Warmindo dapat mengambil keputusan bisnis yang lebih baik berdasarkan wawasan yang diperoleh. Hasil analisis diharapkan dapat membantu dalam:

- Mengoptimalkan strategi penjualan dan pemasaran.
- Memperbaiki manajemen inventaris dan rantai pasokan.
- Meningkatkan kepuasan dan loyalitas pelanggan melalui layanan yang lebih baik dan penawaran yang disesuaikan dengan kebutuhan pelanggan.

<h1> Data Understanding </h1>

- **Koleksi Data:** Dataset data_warmindo.csv dengan 499 rows dengan kolom id, invoice_id, tanggal_transaksi, customer_id, nama_produk, jenis_produk, kategori_produk, quantity, harga_jual, jenis_pembayaran, jenis_pesanan, nilai_penjualan. Dari masing-masing kolom ini memiliki penjelasan sebagai berikut:

    - id: ID unik untuk setiap entri transaksi.
    - invoice_id: ID faktur untuk transaksi tertentu.
    - tanggal_transaksi: Tanggal transaksi terjadi.
    - customer_id: ID unik untuk setiap pelanggan.
    - nama_produk: Nama produk yang dibeli.
    - jenis_produk: Jenis produk (misalnya, mi instan, minuman, dll.).
    - kategori_produk: Kategori produk (misalnya, makanan, minuman).
    - quantity: Jumlah produk yang dibeli.
    - harga_jual: Harga jual per unit produk.
    - jenis_pembayaran: Jenis pembayaran yang digunakan (misalnya, tunai, kartu kredit).
    - jenis_pesanan: Jenis pesanan (misalnya, makan di tempat, bawa pulang).
    - nilai_penjualan: Total nilai penjualan untuk transaksi tersebut.

- **Eksplorasi Data:**
    - Mengidentifikasi distribusi dan statistik deskriptif dari masing-masing kolom.
    - Mengamati pola temporal dari tanggal_transaksi.
    - Menggali hubungan antara nama_produk, jenis_produk, dan kategori_produk dengan nilai_penjualan.

In [2]:
import pandas as pd

In [4]:
# Read Data
df_warmindo = pd.read_csv("dataset/data_warmindo.csv")

df_warmindo

,id,invoice_id,tanggal_transaksi,customer_id,nama_produk,jenis_produk,kategori_produk,quantity,harga_jual,jenis_pembayaran,jenis_pesanan,nilai_penjualan
0,1,1,4/11/22,44,Indomie Ayam Spesial,mie-kuah,makanan,2,9000,QRIS-OVO,Dine-In,18000
1,2,2,8/1/22,10,Indomie Ayam Spesial,mie-kuah,makanan,2,9000,CASH,Delivery,18000
2,3,3,4/3/22,62,Indomie Rasa Soto Betawi,mie-kuah,makanan,1,10000,QRIS-OTHERS,Delivery,10000
3,4,4,3/19/22,48,Indomie Rasa Soto Padang,mie-kuah,makanan,3,10000,CASH,Dine-In,30000
4,5,5,4/29/22,87,Indomie Rasa Sop Buntut,mie-kuah,makanan,2,10000,QRIS-OVO,Dine-In,20000
...,...,...,...,...,...,...,...,...,...,...,...,...
494,495,495,5/17/22,11,Indomie Baso Sapi,mie-kuah,makanan,1,9000,CASH,Delivery,9000
495,496,496,6/6/22,55,Indomie Goreng Spesial,mie-goreng,makanan,1,9000,QRIS-GOPAY,Delivery,9000
496,497,497,7/14/22,25,Indomie Goreng Rendang,mie-goreng,makanan,2,9000,QRIS-GOPAY,Delivery,18000
497,498,498,8/22/22,39,Indomie Goreng Pedas,mie-goreng,makanan,2,9000,QRIS-DANA,Delivery,18000
498,499,499,6/21/22,79,Indomie Soto Mie,mie-kuah,makanan,1,9000,QRIS-OVO,Dine-In,9000

In [5]:
df_warmindo.head()

,id,invoice_id,tanggal_transaksi,customer_id,nama_produk,jenis_produk,kategori_produk,quantity,harga_jual,jenis_pembayaran,jenis_pesanan,nilai_penjualan
0,1,1,4/11/22,44,Indomie Ayam Spesial,mie-kuah,makanan,2,9000,QRIS-OVO,Dine-In,18000
1,2,2,8/1/22,10,Indomie Ayam Spesial,mie-kuah,makanan,2,9000,CASH,Delivery,18000
2,3,3,4/3/22,62,Indomie Rasa Soto Betawi,mie-kuah,makanan,1,10000,QRIS-OTHERS,Delivery,10000
3,4,4,3/19/22,48,Indomie Rasa Soto Padang,mie-kuah,makanan,3,10000,CASH,Dine-In,30000
4,5,5,4/29/22,87,Indomie Rasa Sop Buntut,mie-kuah,makanan,2,10000,QRIS-OVO,Dine-In,20000

In [6]:
# Check Statistik Deskriptif
df_warmindo.describe()

,id,invoice_id,customer_id,quantity,harga_jual,nilai_penjualan
count,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000
mean,250.000000,250.000000,48.016032,1.953908,9438.877756,18440.881764
std,144.193157,144.193157,28.521811,0.796503,496.748002,7575.722958
min,1.000000,1.000000,1.000000,1.000000,9000.000000,9000.000000
25%,125.500000,125.500000,22.000000,1.000000,9000.000000,10000.000000
50%,250.000000,250.000000,48.000000,2.000000,9000.000000,18000.000000
75%,374.500000,374.500000,72.500000,3.000000,10000.000000,27000.000000
max,499.000000,499.000000,100.000000,3.000000,10000.000000,30000.000000

In [7]:
# Check Data Non-Number Statistik Deskriptif
non_numeric_desc = df_warmindo.describe(include=['object'])

In [8]:
non_numeric_desc

,tanggal_transaksi,nama_produk,jenis_produk,kategori_produk,jenis_pembayaran,jenis_pesanan
count,499,499,499,499,499,499
unique,207,18,2,1,6,2
top,5/17/22,Indomie Rasa Soto Banjar Limau Kuit,mie-kuah,makanan,CASH,Dine-In
freq,8,41,349,499,100,258

In [14]:
# Check Info Dataset
df_warmindo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 499 non-null    int64
 1   invoice_id         499 non-null    int64
 2   tanggal_transaksi  499 non-null    object
 3   customer_id        499 non-null    int64
 4   nama_produk        499 non-null    object
 5   jenis_produk       499 non-null    object
 6   kategori_produk    499 non-null    object
 7   quantity           499 non-null    int64
 8   harga_jual         499 non-null    int64
 9   jenis_pembayaran   499 non-null    object
 10  jenis_pesanan      499 non-null    object
 11  nilai_penjualan    499 non-null    int64
dtypes: int64(6), object(6)
memory usage: 46.9+ KB

In [16]:
# Check Data Duplicated
df_warmindo.duplicated().sum()

0

<h1> Data Preparation </h1>

- **Pembersihan Data:**
    - Mengisi atau menghapus data yang hilang.
    - Mengoreksi atau menghapus data anomali.

- **Transformasi Data:**
    - Mengubah format tanggal_transaksi menjadi datetime.
    - Mengelompokkan produk berdasarkan kategori_produk.
    - Menambahkan kolom baru jika diperlukan (misalnya, hari dalam minggu, bulan, dll).

- **Integrasi Data:**
    - Menggabungkan data yang mungkin terpisah (jika ada dataset tambahan).

In [17]:
# Change Data Type
df_warmindo['tanggal_transaksi'] = pd.to_datetime(df_warmindo['tanggal_transaksi'])

df_warmindo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 499 non-null    int64
 1   invoice_id         499 non-null    int64
 2   tanggal_transaksi  499 non-null    datetime64[ns]
 3   customer_id        499 non-null    int64
 4   nama_produk        499 non-null    object
 5   jenis_produk       499 non-null    object
 6   kategori_produk    499 non-null    object
 7   quantity           499 non-null    int64
 8   harga_jual         499 non-null    int64
 9   jenis_pembayaran   499 non-null    object
 10  jenis_pesanan      499 non-null    object
 11  nilai_penjualan    499 non-null    int64
dtypes: datetime64[ns](1), int64(6), object(5)
memory usage: 46.9+ KB

C:\Users\syari\AppData\Local\Temp\ipykernel_16456\68661389.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_warmindo['tanggal_transaksi'] = pd.to_datetime(df_warmindo['tanggal_transaksi'])

In [19]:
df_warmindo.head()

,id,invoice_id,tanggal_transaksi,customer_id,nama_produk,jenis_produk,kategori_produk,quantity,harga_jual,jenis_pembayaran,jenis_pesanan,nilai_penjualan
0,1,1,2022-04-11,44,Indomie Ayam Spesial,mie-kuah,makanan,2,9000,QRIS-OVO,Dine-In,18000
1,2,2,2022-08-01,10,Indomie Ayam Spesial,mie-kuah,makanan,2,9000,CASH,Delivery,18000
2,3,3,2022-04-03,62,Indomie Rasa Soto Betawi,mie-kuah,makanan,1,10000,QRIS-OTHERS,Delivery,10000
3,4,4,2022-03-19,48,Indomie Rasa Soto Padang,mie-kuah,makanan,3,10000,CASH,Dine-In,30000
4,5,5,2022-04-29,87,Indomie Rasa Sop Buntut,mie-kuah,makanan,2,10000,QRIS-OVO,Dine-In,20000

In [20]:
# Tambah kolom Hari dalam Minggu 
df_warmindo['hari_dalam_minggu'] = df_warmindo['tanggal_transaksi'].dt.day_name()

In [22]:
df_warmindo.head()

,id,invoice_id,tanggal_transaksi,customer_id,nama_produk,jenis_produk,kategori_produk,quantity,harga_jual,jenis_pembayaran,jenis_pesanan,nilai_penjualan,hari_dalam_minggu
0,1,1,2022-04-11,44,Indomie Ayam Spesial,mie-kuah,makanan,2,9000,QRIS-OVO,Dine-In,18000,Monday
1,2,2,2022-08-01,10,Indomie Ayam Spesial,mie-kuah,makanan,2,9000,CASH,Delivery,18000,Monday
2,3,3,2022-04-03,62,Indomie Rasa Soto Betawi,mie-kuah,makanan,1,10000,QRIS-OTHERS,Delivery,10000,Sunday
3,4,4,2022-03-19,48,Indomie Rasa Soto Padang,mie-kuah,makanan,3,10000,CASH,Dine-In,30000,Saturday
4,5,5,2022-04-29,87,Indomie Rasa Sop Buntut,mie-kuah,makanan,2,10000,QRIS-OVO,Dine-In,20000,Friday